

{% extends 'store/base.html.j2' %}
{% block title %}Register{% endblock %}

{% block content %}
<body class="page home page-template-default">
    <div id="page" class="hfeed site">
        
        <!-- .top-bar-v1 -->
        {% include 'store/header/header-v1.html.j2' %}
        <!-- .header-v1 -->
        <!-- ============================================================= Header End ============================================================= -->
        <div id="content" class="site-content">
            <div class="col-full">
                <div class="row">
                    <nav class="woocommerce-breadcrumb">
                        <a href="home-v1.html">Home</a>
                        <span class="delimiter">
                            <i class="tm tm-breadcrumbs-arrow-right"></i>
                        </span>My Account
                    </nav>
                    <!-- .woocommerce-breadcrumb -->
                    <div id="primary" class="content-area">
                        <main id="main" class="site-main">
                            <div class="type-page hentry">
                                <div class="entry-content">
                                    <div class="woocommerce">
                                        <div class="customer-login-form justify-content-center">
                                            <div class="u-column1 col-6">
                                                <h2>Register</h2>
                                                <form method="post" class="woocomerce-form woocommerce-form-login login">
                                                    {{csrf_input}}
                                                    
                                                    <p class="form-row form-row-wide">
                                                        <div class="col-lg-6">
                                                            <label for="first_name">First Name
                                                                <span class="required">*</span>
                                                            </label>
                                                            <input type="text" class="input-text" name="first_name" id="first_name" maxlength="100" />
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <label for="last_name">Last Name
                                                                <span class="required">*</span>
                                                            </label>
                                                            <input type="text" class="input-text" name="last_name" id="last_name" maxlength="100" />
                                                        </div>
                                                    </p>
                                                    <p class="form-row form-row-wide">
                                                        <label for="mobile">Mobile
                                                            <span class="required">*</span>
                                                        </label>
                                                        <input type="text" class="input-text" name="mobile" id="mobile" maxlength="10" />
                                                    </p>
                                                    <p class="form-row form-row-wide">
                                                        <label for="email">Email
                                                            <span class="required">*</span>
                                                        </label>
                                                        <input type="email" class="input-text" name="email" id="email" maxlength="100" />
                                                    </p>
                                                    <div class="form-row form-row-wide">
                                                        <div class="col-lg-4">
                                                            <label for="">State<span class="required">*</span></label>
                                                            <select name="state" id="state">
                                                                <option value="">Select State</option>
                                                                {%for i in state%}
                                                                <option value="{{i.id}}">{{i.name}}</option>
                                                                {%endfor%}
                                                            </select>
                                                        </div>

                                                        <div class="col-lg-4">
                                                            <label for="">District<span class="required">*</span></label>
                                                            <select name="district" id="district">
                                                                <option value="">Select District</option>
                                                                {%for i in district%}
                                                                <option value="{{i.id}}">{{i.name}}</option>
                                                                {%endfor%}
                                                            </select>
                                                        </div>

                                                        <div class="col-lg-4">
                                                            <label for="">City<span class="required">*</span></label>
                                                            <select name="city" id="city">
                                                                <option value="">Select city</option>
                                                                {%for i in city%}
                                                                <option value="{{i.id}}">{{i.name}}</option>
                                                                {%endfor%}
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="form-row">
                                                        <label for="">Pincode<span class="required">*</span></label>
                                                        <input type="text" maxlength="8" name="pincode" id="pincode">
                                                        <label for="">Address<span class="required">*</span></label>
                                                        <textarea name="address" id="address"></textarea>
                                                        
                                                    </div>

                                                    <p class="form-row form-row-wide">
                                                        <label for="password">Password
                                                            <span class="required">*</span>
                                                        </label>
                                                        <input class="input-text" type="password" name="password1" id="password1" />
                                                    </p>

                                                    <p class="form-row form-row-wide">
                                                        <label for="password">Conform Password
                                                            <span class="required">*</span>
                                                        </label>
                                                        <input class="input-text" type="password" name="password2" id="password2" />
                                                    </p>
                                                    
                                                    <p class="form-row">
                                                        <input class="woocommerce-Button button" type="submit" value="Register" name="register">
                                                        <label for="rememberme" class="woocommerce-form__label woocommerce-form__label-for-checkbox inline">
                                                            <input class="woocommerce-form__input woocommerce-form__input-checkbox" name="rememberme" type="checkbox" id="rememberme" value="forever" /> Remember me
                                                        </label>
                                                    </p>
                                                    <p>
                                                        alreday have account?
                                                        <a href="{{url('login')}}">login here</a>
                                                    </p>
                                                </form>
                                                <!-- .woocommerce-form-login -->
                                            </div>
                                            <!-- .col2-set -->
                                        </div>
                                        <!-- .customer-login-form -->
                                    </div>
                                    <!-- .woocommerce -->
                                </div>
                                <!-- .entry-content -->
                            </div>
                            <!-- .hentry -->
                        </main>
                        <!-- #main -->
                    </div>
                    <!-- #primary -->
                </div>
                <!-- .row -->
            </div>
            <!-- .col-full -->
        </div>
        <!-- #content -->
        {% include 'store/footer/footer-v1.html.j2' %}
        <!-- .site-footer -->
    </div>
    
   
    
</body>

{%endblock%}

{% block extra_script%}
<script>
    $(document).ready(function() {
        $('#password2').focusout(function() {
        // Get the values of the passwords
        var password1 = $('#password1').val();
        var password2 = $(this).val();

        // Validate the passwords
        if (password1 !== password2) {
            alert('Passwords do not match. Please try again.');
        } else {
            
        }
    });
});
    $('#state').select2()
    $('#district').select2()
    $('#city').select2()
</script>
{%endblock%}