{% extends 'store/base.html.j2' %}
{% block title %}Accounts{% endblock %}

{%block content%}
<body class="woocommerce-active left-sidebar">
    <div id="page" class="hfeed site">
        
        <!-- .top-bar-v1 -->
       {% include 'store/header/header-v1.html.j2' %}
        <!-- .header-v1 -->
        <!-- ============================================================= Header End ============================================================= -->
        <div id="content" class="site-content" tabindex="-1">
            <div class="col-full">
                <div class="row">
                    <nav class="woocommerce-breadcrumb">
                        <a href="/">Home</a>
                        <span class="delimiter">
                            <i class="tm tm-breadcrumbs-arrow-right"></i>
                        </span>
                       
                    </nav>
                    <!-- .woocommerce-breadcrumb -->
                    <div id="primary" class="content-area">
                        <main id="main" class="site-main">
                            <h1>My Wishlist</h1>
                          
                            <table class="shop_table cart wishlist_table">
                                <thead>
                                    <tr>
                                        <th class="product-remove"></th>
                                        <th class="product-thumbnail"></th>
                                        <th class="product-name">
                                            <span class="nobr">Product Name</span>
                                        </th>
                                        <th class="product-price">
                                            <span class="nobr">
                                                Unit Price
                                            </span>
                                        </th>
                                        <th class="product-stock-status">
                                            <span class="nobr">
                                                Stock Status
                                            </span>
                                        </th>
                                        <th class="product-add-to-cart"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    
                                    
                                    {%for i in wishlist%}
                                    {%set p = i.product%}
                                    {%if p%}
                                    <tr>
                                        <td class="product-remove">
                                            <div>
                                                <a title="Remove this product" class="remove remove_from_wishlist" href="{{url('remove_from_wishlist', args=[p.id])}}">×</a>
                                            </div>
                                        </td>
                                        <td class="product-thumbnail">
                                            <a href="{{url('product_detail', args=[p.slug])}}">
                                                {%if i.product%}
                                                <img width="180" height="180" alt="" class="wp-post-image" src="{{p.images_product.first().image.url}}">
                                                {%endif%}
                                            </a>
                                        </td>
                                        <td class="product-name">
                                            <a href="{{url('product_detail', args=[p.slug])}}">{{p.name}} &amp; GPS</a>
                                        </td>
                                        <td class="product-price">
                                            <ins>
                                                <span class="woocommerce-Price-amount amount">
                                                    <span class="woocommerce-Price-currencySymbol">Rs</span>{{p.discounted_price()}}</span>
                                            </ins>
                                            <del>
                                                <span class="woocommerce-Price-amount amount">
                                                    <span class="woocommerce-Price-currencySymbol">Rs</span>{{p.rate}}</span>
                                            </del>
                                        </td>
                                        <td class="product-stock-status">
                                            {%if p.is_in_stock()%}
                                            <span class="wishlist-in-stock">In Stock</span>
                                            {%else%}
                                            <span class="out-of-stock">Out of Stock</span>
                                            {%endif%}
                                        </td>
                                        <td class="product-add-to-cart">
                                            <a class="button add_to_cart_button button alt" onclick="addToCart('{{i.id}}')" href="javascript:void(0)"> Add to Cart</a>
                                        </td>
                                    </tr>
                                    {%else%}
                                    {%endif%}
                                    {%endfor%}
                                   
                                    
                                    
                                </tbody>
                                
                            </table>
                           
                        </main>
                        <!-- #main -->
                    </div>
                   
                    <!-- #primary -->
                    <div id="secondary" class="widget-area shop-sidebar" role="complementary">
                        <div class="widget woocommerce widget_product_categories techmarket_widget_product_categories" id="techmarket_product_categories_widget-2">
                            <ul class="product-categories ">
                                <li class="product_cat">
                                    <span>Accounts Details</span>
                                    <ul>
                                        <li class="cat-item nav-tabs">
                                            <a href="{{url('user_order_details')}}">
                                                <span class="no-child"></span>Oders</a>
                                        </li>
                                        <li class="cat-item">
                                            <a href="{{url('user_wishlist_details')}}">
                                                <span class="no-child"></span>Wishlist</a>
                                        </li>

                                        <li class="cat-item">
                                            <a href="{{url('user_address_details')}}">
                                                <span class="no-child"></span>Address</a>
                                        </li>

                                        <li class="cat-item">
                                            <a href="{{url('user_profile_details')}}">
                                                <span class="no-child"></span>Profile</a>
                                        </li>
                                        
                                        
                                    </ul>
                                </li>
                            </ul>
                        </div>
                       
                      
                    </div>
                </div>
                <!-- .row -->
            </div>
            <!-- .col-full -->
        </div>
   
        {% include 'store/footer/footer-v1.html.j2' %}
        <!-- .site-footer -->
    </div>
    
</body>
{%endblock%}