
{% extends 'store/base.html.j2' %}
{% block title %}Checkout{% endblock %}

{% block content %}
<body class="woocommerce-active page-template-default woocommerce-checkout woocommerce-page can-uppercase">
    <div id="page" class="hfeed site">
        
        <!-- .top-bar-v1 -->
        {% include 'store/header/header-v1.html.j2' %}
        <!-- .header-v1 -->
        <!-- ============================================================= Header End ============================================================= -->
        <div id="content" class="site-content">
            <div class="col-full">
                <div class="row">
                    <nav class="woocommerce-breadcrumb">
                        <a href="/">Home</a>
                        <span class="delimiter">
                            <i class="tm tm-breadcrumbs-arrow-right"></i>
                        </span>
                        Checkout
                    </nav>
                    <!-- .woocommerce-breadcrumb -->
                    <div class="content-area" id="primary">
                        <main class="site-main" id="main">
                            <div class="type-page hentry">
                                <div class="entry-content">
                                    <div class="woocommerce">
                                        <form method="POST" action="">
                                            {{csrf_input}}
                                            <div class="row">
                                                <div class="col-lg-8">
                                                    {%for i in address%}
                                                    <div class="">
                                                        <div class="card p-4">
                                                            <label for="">
                                                                <input type="radio" name="address_type" value="{{i.id}}" id="address_type" {% if i.is_active == True%} checked {%endif%} onclick="activateAddress(this)"> {{i.address_type}}
                                                            </label>
                                                            <address>{{i.address}} <br>{{i.city.name}}, {{i.district.name}},{{i.state.name}}, {{i.pincode}}</address>
                                                        </div>
                                                    </div>
                                                    {%endfor%}
                                                <button class="button">add address</button>
                                                </div>
                                                {%set items = cart.items.all()%}
                                                <div class="col-lg-4">
                                                    <div class="order-review-wrapper">
                                                        <h3 class="order_review_heading">Your Order</h3>
                                                        <table class="shop_table woocommerce-checkout-review-order-table">
                                                            <thead>
                                                                <tr>
                                                                    <th class="product-name">Product</th>
                                                                    <th class="product-total">Total</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                {%for i in items%}
                                                                    <tr class="cart_item">
                                                                        <td class="product-name">
                                                                            <strong class="product-quantity">{{i.quantity}} ×</strong> {{i.product.name}}&nbsp;
                                                                        </td>
                                                                        <td class="product-total">
                                                                            <span class="woocommerce-Price-amount amount">
                                                                                <span class="woocommerce-Price-currencySymbol">Rs</span>{{i.product.rate}}</span>
                                                                        </td>
                                                                    </tr>
                                                                {%endfor%}
                                                               
                                                            </tbody>
                                                            <tfoot>
                                                                <tr class="order-total">
                                                                    <th>Total</th>
                                                                    <td>
                                                                        <strong>
                                                                            <span class="woocommerce-Price-amount amount">
                                                                                <span class="woocommerce-Price-currencySymbol">Rs </span>{{total}}</span>
                                                                        </strong>
                                                                    </td>
                                                                </tr>
                                                            </tfoot>
                                                        </table>
                                                        <!-- /.woocommerce-checkout-review-order-table -->
                                                        <div class="woocommerce-checkout-payment" id="payment">
                                                            
                                                            <div class="form-row place-order">
                                                                
                                                                <button class="button wc-forward text-center">Place order</button>
                                                            </div>
                                                        </div>
                                                        <!-- /.woocommerce-checkout-payment -->
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <!-- .woocommerce -->
                                </div>
                                <!-- .entry-content -->
                            </div>
                            <!-- #post-## -->
                        </main>
                        <!-- #main -->
                    </div>
                    <!-- #primary -->
                </div>
                <!-- .row -->
            </div>
            <!-- .col-full -->
        </div>
        <!-- #content -->
        {% include 'store/footer/footer-v1.html.j2' %}
        <!-- .site-footer -->
    </div>
    
</body>

{%endblock%}

{% block extra_script%}
 <script>
    function activateAddress(el){
        $.ajax({
            url: '{{url("activate_addtess")}}',
            method: 'GET',
            data: {address_id:el.value},
            success: function(resp){
                window.location.reload()
            }
        })
    }
 </script>
{%endblock%}