{% extends 'store/base.html.j2' %}
{% block title %}Wishlist{% endblock %}

{% block content %}

<body>
    <div id="page" class="hfeed site">
        
        <!-- .header-v1 -->
        <!-- ============================================================= Header End ============================================================= -->
        <div id="content" class="site-content">
            <div class="col-full">

                
                <div class="row">
                   
                </div>
                
                <!-- .row -->
            </div>
            <!-- .col-full -->
        </div>
       
    </div>

    
</body>

{%endblock%}