{% extends 'admin/base.html.j2' %}
{% block title %}Products{% endblock %}

{% block content %}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Products</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <!-- <div class="btn-group mr-2">
        <button class="btn btn-sm btn-outline-secondary">Share</button>
        <button class="btn btn-sm btn-outline-secondary">Export</button>
      </div> -->
      <button class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#addProducts">
        <span data-feather="plus"></span>
        Add Products
      </button>
    </div>
  </div>

  <div class="table-responsive">
      <table class="table table-striped table-sm">
          <thead>
              <tr>
                  <th>S.No.</th>
                  <th>Name</th>
                  <th>Category</th>
                  <th>Price</th>
                  <th>discount %</th>
                  <th>Stock</th>
                  <th>Created At</th>
                  <th>Rating</th>
              </tr>
          </thead>
          <tbody>
              {%for i in products%}
              <tr>
                  <td>{{loop.index}}</td>
                  <td>{{i.name}}</td>
                  <td>{{i.category.name}}</td>
                  <td>{{i.rate}}</td>
                  <td>{{i.discount_percentage}}</td>
                  <td>{{i.stock}}</td>
                  <td>{{i.created_at}}</td>
                  <td>{{i.average_rating()}}</td>
              </tr>
              {%endfor%}
          </tbody>
      </table>
  </div>


  <!-- Modal -->
  <div class="modal fade" id="addProducts" tabindex="-1" role="dialog" aria-labelledby="addProductsLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addProductsLabel">Add Products</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form method="post" enctype="multipart/form-data">
                {{csrf_input}}
                <h2>Product Details</h2>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="category">Category</label>
                            {{ product_form.category }}
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="brand">Brand</label>
                            {{ product_form.brand }}
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="name">Product Name</label>
                            {{ product_form.name }}
                        </div>
                    </div>
                   
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="rate">Rate</label>
                            {{ product_form.rate }}
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="discount_percentage">Discount Percentage</label>
                            {{ product_form.discount_percentage }}
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="description">Description</label>
                            {{ product_form.description }}
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="seller">Seller</label>
                            {{ product_form.seller }}
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="start_date">Start Date</label>
                            {{ product_form.start_date }}
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="end_date">End Date</label>
                            {{ product_form.end_date }}
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="stock">Stock</label>
                            {{ product_form.stock }}
                        </div>
                    </div>
                </div>

                <h2>Product Image</h2>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="stock">image 1</label>
                            <input type="file" name="image1" class="form-control" required>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="stock">image 2</label>
                            <input type="file" name="image2" class="form-control" required>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="stock">image 3</label>
                            <input type="file" name="image3" class="form-control" required>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="stock">image 4</label>
                            <input type="file" name="image4" class="form-control" required>
                        </div>
                    </div>
                </div>
                    
                
                
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
      </div>
    </div>
  </div>

{%endblock%}