{% extends 'store/base.html.j2' %}
{% block title %}Cart{% endblock %}

{% block content %}
<body class="page home page-template-default">
    <div id="page" class="hfeed site">
        
        <!-- .top-bar-v1 -->
        {% include 'store/header/header-v1.html.j2' %}
        <!-- .header-v1 -->
        <!-- ============================================================= Header End ============================================================= -->
        <div id="content" class="site-content">
            <div class="col-full">
                <div class="row">
                    <nav class="woocommerce-breadcrumb">
                        <a href="/">Home</a>
                        <span class="delimiter">
                            <i class="tm tm-breadcrumbs-arrow-right"></i>
                        </span>
                        Cart
                    </nav>
                    <!-- .woocommerce-breadcrumb -->
                    <div id="primary" class="content-area">
                        <main id="main" class="site-main">
                            <div class="type-page hentry">
                                <div class="entry-content">
                                    <div class="woocommerce">
                                        <div class="cart-wrapper">
                                            <form method="post" action="#" class="woocommerce-cart-form">
                                                <table class="shop_table shop_table_responsive cart">
                                                    <thead>
                                                        <tr>
                                                            <th class="product-remove">&nbsp;</th>
                                                            <th class="product-thumbnail">&nbsp;</th>
                                                            <th class="product-name">Product</th>
                                                            <th class="product-price">Price</th>
                                                            <th class="product-quantity">Quantity</th>
                                                            <th class="product-subtotal">Total</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {%if cart_items%}
                                                        {%set product_items = cart_items.items.all()%}
                                                            {%if product_items%}
                                                                {%for i in product_items%}
                                                                <tr>
                                                                    <td class="product-remove">
                                                                        <a class="remove" href="#">×</a>
                                                                    </td>
                                                                    <td class="product-thumbnail">
                                                                        <a href="{{url('product_detail', args=[i.product.slug])}}">
                                                                        
                                                                            <!-- <img width="180" height="180" alt="" class="wp-post-image" src="single-product-fullwidth.html"> -->
                                                                        </a>
                                                                    </td>
                                                                    <td data-title="Product" class="product-name">
                                                                        <div class="media cart-item-product-detail">
                                                                            <a href="{{url('product_detail', args=[i.product.slug])}}">
                                                                                <img width="180" height="180" alt="" class="wp-post-image" src="{{i.product.images_product.first().image.url}}">
                                                                            </a>
                                                                            <div class="media-body align-self-center">
                                                                                <a href="{{url('product_detail', args=[i.product.slug])}}">{{i.product.name}}</a>
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                    <td data-title="Price" class="product-price">
                                                                        <span class="woocommerce-Price-amount amount">
                                                                            <span class="woocommerce-Price-currencySymbol">Rs.</span>{{i.product.rate}}
                                                                        </span>
                                                                    </td>
                                                                    <td class="product-quantity" data-title="Quantity">
                                                                        <div class="quantity">
                                                                            <label for="quantity-input-1">Quantity</label>
                                                                            <input id="quantity-input-1" data-pid="{{i.product.id}}" onchange="changeQuentity(this)" type="number" name="cart" value="{{i.quantity}}" title="Qty" class="input-text qty text" size="4">
                                                                        </div>
                                                                    </td>
                                                                    <td data-title="Total" class="product-subtotal">
                                                                        <span class="woocommerce-Price-amount amount">
                                                                            <span class="woocommerce-Price-currencySymbol">Rs.</span>{{i.subtotal()}}
                                                                        </span>
                                                                        <a title="Remove this item" class="remove" href="{{url('remove_from_cart', args=[i.product.id])}}">×</a>
                                                                    </td>
                                                                </tr>
                                                                {%endfor%}
                                                            {%else%}
                                                                <tr><td colspan="4" class="text-center">No cart items</td></tr>
                                                            {%endif%}
                                                        {%endif%}
                                                      
                                                    </tbody>
                                                </table>
                                                <!-- .shop_table shop_table_responsive -->
                                            </form>
                                            <!-- .woocommerce-cart-form -->
                                            <div class="cart-collaterals">
                                                <div class="cart_totals">
                                                    <h2>Cart totals</h2>
                                                    <table class="shop_table shop_table_responsive">
                                                        <tbody>
                                                            <tr class="cart-subtotal">
                                                                <th>Subtotal</th>
                                                                <td data-title="Subtotal">
                                                                    <span class="woocommerce-Price-amount amount">
                                                                        <span class="woocommerce-Price-currencySymbol">Rs</span>{{total_price}}</span>
                                                                </td>
                                                            </tr>
                                                            <tr class="shipping">
                                                                <th>Shipping</th>
                                                                <td data-title="Shipping">Flat rate</td>
                                                            </tr>
                                                            <tr class="order-total">
                                                                <th>Total</th>
                                                                <td data-title="Total">
                                                                    <strong>
                                                                        <span class="woocommerce-Price-amount amount">
                                                                            <span class="woocommerce-Price-currencySymbol">Rs</span>{{total_price}}</span>
                                                                    </strong>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <!-- .shop_table shop_table_responsive -->
                                                    <div class="wc-proceed-to-checkout">
                                                        <!-- .wc-proceed-to-checkout -->
                                                            {%if cart_items%}
                                                            {%set product_items = cart_items.items.all()%}
                                                            {%if product_items%}
                                                            <a class="checkout-button button alt wc-forward" href="{{url('checkout')}}">Proceed to checkout</a>
                                                            {%endif%}
                                                            {%endif%}
                                                        <a class="back-to-shopping" href="/">Back to Shopping</a>
                                                    
                                                    </div>
                                                    <!-- .wc-proceed-to-checkout -->
                                                </div>
                                                <!-- .cart_totals -->
                                            </div>
                                            <!-- .cart-collaterals -->
                                        </div>
                                        <!-- .cart-wrapper -->
                                    </div>
                                    <!-- .woocommerce -->
                                </div>
                                <!-- .entry-content -->
                            </div>
                            <!-- .hentry -->
                        </main>
                        <!-- #main -->
                    </div>
                    <!-- #primary -->
                </div>
                <!-- .row -->
            </div>
            <!-- .col-full -->
        </div>
        <!-- #content -->
    
        <!-- .col-full -->
        {% include 'store/footer/footer-v1.html.j2' %}
        <!-- .site-footer -->
    </div>
    
    
</body>
{%endblock%}
{% block extra_script%}
   
<script>
    function changeQuentity(el){
        if (el.value){
            $.ajax({
                type: 'GET',
                url: '{{url("increse_prod_quentity")}}',  // Replace with your actual URL
                data:{'product_id': el.dataset.pid, 'quentity': el.value},
                success: function (data) {
                    window.location.reload()
                },
                error: function (error) {
                    console.error('Error calling Django function:', error);
                }
        });
        }
        
    }
</script>
{%endblock%}