<!DOCTYPE html>
<html lang="en-US" itemscope="itemscope" itemtype="http://schema.org/WebPage">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
        <title>{% block title%}{%endblock%}</title>
        <link rel="stylesheet" type="text/css" href="{{static('assets/css/bootstrap.min.css')}}" media="all" />
        <link rel="stylesheet" type="text/css" href="{{static('assets/css/font-awesome.min.css')}}" media="all" />
        <link rel="stylesheet" type="text/css" href="{{static('assets/css/bootstrap-grid.min.css')}}" media="all" />
        <link rel="stylesheet" type="text/css" href="{{static('assets/css/bootstrap-reboot.min.css')}}" media="all" />
        <link rel="stylesheet" type="text/css" href="{{static('assets/css/font-techmarket.css')}}" media="all" />
        <link rel="stylesheet" type="text/css" href="{{static('assets/css/slick.css')}}" media="all" />
        <link rel="stylesheet" type="text/css" href="{{static('assets/css/techmarket-font-awesome.css')}}" media="all" />
        <link rel="stylesheet" type="text/css" href="{{static('assets/css/slick-style.css')}}" media="all" />
        <link rel="stylesheet" type="text/css" href="{{static('assets/css/animate.min.css')}}" media="all" />
        <link rel="stylesheet" type="text/css" href="{{static('assets/css/style.css')}}" media="all" />
        <link rel="stylesheet" type="text/css" href="{{static('assets/css/colors/blue.css')}}" media="all" />
        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" integrity="sha512-vKMx8UnXk60zUwyUnUPM3HbQo8QfmNx7+ltw8Pm5zLusl1XIfwcxo8DbWCqMGKaWeNxWA8yrx5v3SaVpMvR3CA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

        
        <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,900" rel="stylesheet">
        <link rel="shortcut icon" href="assets/images/fav-icon.png">

        <style>
            .select2-container .select2-selection--single {
                height: 44px !important;
            }
        </style>
    </head>
    {% block content %}
    {% endblock %}
    
    <script type="text/javascript" src="{{static('assets/js/jquery.min.js')}}"></script>
        <script type="text/javascript" src="{{static('assets/js/tether.min.js')}}"></script>
        <script type="text/javascript" src="{{static('assets/js/bootstrap.min.js')}}"></script>
        <script type="text/javascript" src="{{static('assets/js/jquery-migrate.min.js')}}"></script>
        <script type="text/javascript" src="{{static('assets/js/hidemaxlistitem.min.js')}}"></script>
        <script type="text/javascript" src="{{static('assets/js/jquery-ui.min.js')}}"></script>
        <script type="text/javascript" src="{{static('assets/js/hidemaxlistitem.min.js')}}"></script>
        <script type="text/javascript" src="{{static('assets/js/jquery.easing.min.js')}}"></script>
        <script type="text/javascript" src="{{static('assets/js/scrollup.min.js')}}"></script>
        <script type="text/javascript" src="{{static('assets/js/jquery.waypoints.min.js')}}"></script>
        <script type="text/javascript" src="{{static('assets/js/waypoints-sticky.min.js')}}"></script>
        <script type="text/javascript" src="{{static('assets/js/pace.min.js')}}"></script>
        <script type="text/javascript" src="{{static('assets/js/slick.min.js')}}"></script>
        <script type="text/javascript" src="{{static('assets/js/scripts.js')}}"></script>
        <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        
        {% if messages %}
                {% for message in messages %}
                    {%if message.tags == 'error'%}
                    <script>toastr.error('{{message}}', 'error')</script>
                    {%elif message.tags == 'success'%}
                    <script>toastr.success('{{message}}', 'success')</script>
                    {%elif message.tags == 'warning'%}
                    <script>toastr.warning('{{message}}', 'warning')</script>
                    {%else%}
                        <script>toastr.info('{{message}}', 'info')</script>
                    {%endif%}
                {% endfor %}
        {% endif %}

        <script>
            function redirectToCategory(e){
                if (e.value){
                    let url = `/products/${e.value}`
                    window.location.href = url;
                }
                
            }

        </script>

        <script>
            $(document).ready(function () {
            $('.valid-number').on('input', function () {
            let inputValue = $(this).val();

            // Remove non-numeric characters
            let numericValue = inputValue.replace(/\D/g, '');

            // Limit the length to 10 characters (adjust as needed for your country's phone number format)
            //numericValue = numericValue.substring(0, 10);

            // Update the input value
            $(this).val(numericValue);
        });
    });
        </script>


<script>
    function autocomplete(inp, arr) {
  /*the autocomplete function takes two arguments,
  the text field element and an array of possible autocompleted values:*/
  var currentFocus;
  /*execute a function when someone writes in the text field:*/
  inp.addEventListener("input", function(e) {
      var a, b, i, val = this.value;
      /*close any already open lists of autocompleted values*/
      closeAllLists();
      if (!val) { return false;}
      currentFocus = -1;
      /*create a DIV element that will contain the items (values):*/
      a = document.createElement("DIV");
      a.setAttribute("id", this.id + "autocomplete-list");
      a.setAttribute("class", "autocomplete-items");
      /*append the DIV element as a child of the autocomplete container:*/
      this.parentNode.appendChild(a);
      /*for each item in the array...*/
      for (i = 0; i < arr.length; i++) {
        /*check if the item starts with the same letters as the text field value:*/
        if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
          /*create a DIV element for each matching element:*/
          b = document.createElement("DIV");
          /*make the matching letters bold:*/
          b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
          b.innerHTML += arr[i].substr(val.length);
          /*insert a input field that will hold the current array item's value:*/
          b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
          /*execute a function when someone clicks on the item value (DIV element):*/
              b.addEventListener("click", function(e) {
              /*insert the value for the autocomplete text field:*/
              inp.value = this.getElementsByTagName("input")[0].value;
              /*close the list of autocompleted values,
              (or any other open lists of autocompleted values:*/
              closeAllLists();
          });
          a.appendChild(b);
        }
      }
  });
  /*execute a function presses a key on the keyboard:*/
  inp.addEventListener("keydown", function(e) {
      var x = document.getElementById(this.id + "autocomplete-list");
      if (x) x = x.getElementsByTagName("div");
      if (e.keyCode == 40) {
        /*If the arrow DOWN key is pressed,
        increase the currentFocus variable:*/
        currentFocus++;
        /*and and make the current item more visible:*/
        addActive(x);
      } else if (e.keyCode == 38) { //up
        /*If the arrow UP key is pressed,
        decrease the currentFocus variable:*/
        currentFocus--;
        /*and and make the current item more visible:*/
        addActive(x);
      } else if (e.keyCode == 13) {
        /*If the ENTER key is pressed, prevent the form from being submitted,*/
        e.preventDefault();
        if (currentFocus > -1) {
          /*and simulate a click on the "active" item:*/
          if (x) x[currentFocus].click();
        }
      }
  });
  function addActive(x) {
    /*a function to classify an item as "active":*/
    if (!x) return false;
    /*start by removing the "active" class on all items:*/
    removeActive(x);
    if (currentFocus >= x.length) currentFocus = 0;
    if (currentFocus < 0) currentFocus = (x.length - 1);
    /*add class "autocomplete-active":*/
    x[currentFocus].classList.add("autocomplete-active");
  }
  function removeActive(x) {
    /*a function to remove the "active" class from all autocomplete items:*/
    for (var i = 0; i < x.length; i++) {
      x[i].classList.remove("autocomplete-active");
    }
  }
  function closeAllLists(elmnt) {
    /*close all autocomplete lists in the document,
    except the one passed as an argument:*/
    var x = document.getElementsByClassName("autocomplete-items");
    for (var i = 0; i < x.length; i++) {
      if (elmnt != x[i] && elmnt != inp) {
      x[i].parentNode.removeChild(x[i]);
    }
  }
}
/*execute a function when someone clicks in the document:*/
document.addEventListener("click", function (e) {
    closeAllLists(e.target);
});
}
var ourProducts1 = Array();

$('#query1').keyup(function () {
    let input = $(this).val();
    if (input.length > 0) {
        // Clear the previous values in the array
        ourProducts1.length = 0;

        $.ajax({
            url: '{{url("get_products_query")}}',
            method: 'GET',
            data: { query: $(this).val() },
            success: function (resp) {
                //console.log(resp)
                for (let i of resp) {
                    ourProducts1.push(i);
                }
            }
        });
    }
});
//query1 is the id when we use in mobile device
$('#query1').change(function(){
    $('#query1-form').submit()
})

var ourProducts = Array();
$('#query').keyup(function () {
    let input = $(this).val();
    if (input.length > 0) {
        // Clear the previous values in the array
        ourProducts.length = 0;

        $.ajax({
            url: '{{url("get_products_query")}}',
            method: 'GET',
            data: { query: $(this).val() },
            success: function (resp) {
                //console.log(resp)
                for (let i of resp) {
                    ourProducts.push(i);
                }
            }
        });
    }
});


autocomplete(document.getElementById("query"), ourProducts);
autocomplete(document.getElementById("query1"), ourProducts1);
</script>

<script>
    function addToCart(product_id){
        if (product_id){
            $.ajax({
            url: '{{url("add_to_cart")}}',
            method: 'GET',
            data: {product_id: product_id},
            success: function (resp) {
                // console.log(resp)
                toastr.success(resp.message)
            },
            
        });
        }
        
    }

    function addToWishlist(product_id){
        if (product_id){
            $.ajax({
            url: '{{url("add_to_wishlist")}}',
            method: 'GET',
            data: {product_id: product_id},
            success: function (resp) {
                // console.log(resp)
                if (resp.type == 'success'){
                    toastr.success(resp.message)
                }else if(resp.type == 'info'){
                    toastr.info(resp.message)
                }else{
                    tostar.error(resp.message)
                }
                
            },
            
        });
        }
        
    }

    function addToRecentView(product_id){
        if (product_id){
            $.ajax({
            url: '{{url("add_to_recently_view")}}',
            method: 'GET',
            data: {product_id: product_id},
            success: function (resp) {
                
            },
            
        });
        }
    }
</script>
        
    {% block extra_script%}
    {%endblock%}
</html>