<!DOCTYPE html>
<html lang="en-US" itemscope="itemscope" itemtype="http://schema.org/WebPage">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
        <title>{% block title%}{%endblock%}</title>
        <link rel="stylesheet" type="text/css" href="{{static('assets/css/bootstrap.min.css')}}" media="all" />
        <link rel="stylesheet" type="text/css" href="{{static('assets/css/font-awesome.min.css')}}" media="all" />
        <link rel="stylesheet" type="text/css" href="{{static('assets/css/bootstrap-grid.min.css')}}" media="all" />
        <link rel="stylesheet" type="text/css" href="{{static('assets/css/bootstrap-reboot.min.css')}}" media="all" />
        <link rel="stylesheet" type="text/css" href="{{static('assets/css/font-techmarket.css')}}" media="all" />
        <link rel="stylesheet" type="text/css" href="{{static('assets/css/slick.css')}}" media="all" />
        <link rel="stylesheet" type="text/css" href="{{static('assets/css/techmarket-font-awesome.css')}}" media="all" />
        <link rel="stylesheet" type="text/css" href="{{static('assets/css/slick-style.css')}}" media="all" />
        <link rel="stylesheet" type="text/css" href="{{static('assets/css/animate.min.css')}}" media="all" />
        <link rel="stylesheet" type="text/css" href="{{static('assets/css/style.css')}}" media="all" />
        <link rel="stylesheet" type="text/css" href="{{static('assets/css/colors/blue.css')}}" media="all" />
        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" integrity="sha512-vKMx8UnXk60zUwyUnUPM3HbQo8QfmNx7+ltw8Pm5zLusl1XIfwcxo8DbWCqMGKaWeNxWA8yrx5v3SaVpMvR3CA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

        
        <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,900" rel="stylesheet">
        <link rel="shortcut icon" href="assets/images/fav-icon.png">

        <style>
            .select2-container .select2-selection--single {
                height: 44px !important;
            }
        </style>
    </head>
    {% block content %}
    {% endblock %}
    
    <script type="text/javascript" src="{{static('assets/js/jquery.min.js')}}"></script>
        <script type="text/javascript" src="{{static('assets/js/tether.min.js')}}"></script>
        <script type="text/javascript" src="{{static('assets/js/bootstrap.min.js')}}"></script>
        <script type="text/javascript" src="{{static('assets/js/jquery-migrate.min.js')}}"></script>
        <script type="text/javascript" src="{{static('assets/js/hidemaxlistitem.min.js')}}"></script>
        <script type="text/javascript" src="{{static('assets/js/jquery-ui.min.js')}}"></script>
        <script type="text/javascript" src="{{static('assets/js/hidemaxlistitem.min.js')}}"></script>
        <script type="text/javascript" src="{{static('assets/js/jquery.easing.min.js')}}"></script>
        <script type="text/javascript" src="{{static('assets/js/scrollup.min.js')}}"></script>
        <script type="text/javascript" src="{{static('assets/js/jquery.waypoints.min.js')}}"></script>
        <script type="text/javascript" src="{{static('assets/js/waypoints-sticky.min.js')}}"></script>
        <script type="text/javascript" src="{{static('assets/js/pace.min.js')}}"></script>
        <script type="text/javascript" src="{{static('assets/js/slick.min.js')}}"></script>
        <script type="text/javascript" src="{{static('assets/js/scripts.js')}}"></script>
        <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        
        {% if messages %}
                {% for message in messages %}
                    {%if message.tags == 'error'%}
                    <script>toastr.error('{{message}}', 'error')</script>
                    {%elif message.tags == 'success'%}
                    <script>toastr.success('{{message}}', 'success')</script>
                    {%elif message.tags == 'warning'%}
                    <script>toastr.warning('{{message}}', 'warning')</script>
                    {%else%}
                        <script>toastr.info('{{message}}', 'info')</script>
                    {%endif%}
                {% endfor %}
        {% endif %}

        <script>
            function redirectToCategory(e){
                if (e.value){
                    let url = `/products/${e.value}`
                    window.location.href = url;
                }
                
            }

        </script>

        <script>
            $(document).ready(function () {
            $('.valid-number').on('input', function () {
            let inputValue = $(this).val();

            // Remove non-numeric characters
            let numericValue = inputValue.replace(/\D/g, '');

            // Limit the length to 10 characters (adjust as needed for your country's phone number format)
            //numericValue = numericValue.substring(0, 10);

            // Update the input value
            $(this).val(numericValue);
        });
    });
        </script>
        
    {% block extra_script%}
    {%endblock%}
</html>