
{% extends 'store/base.html.j2' %}
{% block title %}Order Trecking{% endblock %}

{% block content %}
<body class="page home page-template-default">
    <div id="page" class="hfeed site">
        <!-- .top-bar-v1 -->
        {% include 'store/header/header-v1.html.j2' %}
        <!-- .header-v1 -->
        <!-- ============================================================= Header End ============================================================= -->
        <div id="content" class="site-content">
            <div class="col-full">
                <div class="row">
                    <nav class="woocommerce-breadcrumb">
                        <a href="home-v1.html">Home</a>
                        <span class="delimiter">
                            <i class="tm tm-breadcrumbs-arrow-right"></i>
                        </span>
                        Track Order
                    </nav>
                    <!-- .woocommerce-breadcrumb -->
                    <div id="primary" class="content-area">
                        <main id="main" class="site-main">
                            <div class="type-page hentry">
                                <header class="entry-header">
                                    <div class="page-header-caption">
                                        <h1 class="entry-title">Track Order</h1>
                                    </div>
                                </header>
                                <!-- .entry-header -->
                                <div class="entry-content">
                                    <div class="woocommerce">
                                        <table>
                                            <thead>
                                                <tr>
                                                    <th>SrNo.</th>
                                                    <th>Product Name</th>
                                                    <th>Quentity</th>
                                                    <th>Status</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {%for i in order%}
                                                <tr>
                                                    <td>{{i.index}}</td>
                                                    <td>{{i.product.name}}</td>
                                                    <td>{{i.quantity}}</td>
                                                    <td>{{i.status}}</td>
                                                </tr>
                                                {%endfor%}
                                            </tbody>
                                        </table>
                                        <!-- .track_order -->
                                    </div>
                                    <!-- .woocommerce -->
                                </div>
                                <!-- .entry-content -->
                            </div>
                            <!-- .hentry -->
                        </main>
                        <!-- #main -->
                    </div>
                    <!-- #primary -->
                </div>
                <!-- .row -->
            </div>
            <!-- .col-full -->
        </div>
        <!-- #content -->
        {% include 'store/footer/footer-v1.html.j2' %}
        <!-- .site-footer -->
    </div>
    
    
</body>

{%endblock%}